.div {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
    /* align-self: flex-start; */
}

.blue {
    background-color: blue;
    /* width: 200px; */
    /* height: 200px; */
    padding-top: 20px;
}

.green {
    background-color: green;
    /* align-self: flex-end; */
    order: -1;
}

.flex {
    height: 300px;
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: row;
    /* column-gap: 20px;
    row-gap: 5px; */
    gap: 5px 20px;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}